.info{style: "text-align: center"}
  %h1{style: "font-family: sans-serif; font-style: italic"}
    Account information!
  %h4{style: "font-weight: normal"}
    Your account was created using
    = @user.provider.split('_').first.upcase 
    , so you can't change/set new password!
