%h1
  Hi
  = @user.name

%p
  Click on the link to activate your account:
  = link_to "Activate!", edit_activation_url(@user.activation_token, 
                                             email: @user.email)
