.welcome{style: "text-align: center"}
  %h1{style: "font-family: sans-serif; font-style: italic"}
    Welcome to ToDo!
  %h4{style: "font-weight: normal"}
    You signed up with 
    = @user.provider.upcase 
  .info
    %h4 Enjoy using my application :)
