= simple_form_for(@task, remote: true) do |f|
  .input-group
    = f.input :content, label: false
    %span.input-group-addon
      = f.button :submit, 'Save', class: "btn orange-gradient-btn"
  .esc
    ESC to cancel