%nav.navbar.navbar-fixed-top.mobile
  .container-fluid
    .navbar-header
      = link_to 'ToDo', root_path, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-right
      %li
        %a.btn.navbar-btn.orange-gradient-btn#signup-btn{"data-toggle": "modal",
                                                         "href": "#signupModal"}
          Sign up
