%nav.navbar.navbar-fixed-top
  .container-fluid
    .mobile-nav
      .navbar-header
        = link_to 'ToDo', root_path, class: "navbar-brand"
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{class: "btn navbar-btn orange-gradient-btn", "data-toggle": "modal",
            "href": "#signupModal" }
            Sign up
