@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Karla|Pacifico');


/* colors */

$light-orange: #FF8200;
$dark-orange:  #FF4F00;
$red:          #FF1100;
$light-grey:   #EEE;
$medium-grey:  #AAA;
$dark-grey:    #4D4D4D;
$twitt-color:  #0078FF;
$google-color: #FF1E00;
$github-color: #24292E;

$black-opacity:  rgba(0,0,0,0.3);
$white-opacity:  rgba(255, 255, 255, 0.8);
$orange-opacity: rgba(255, 130, 0, 0.6);

$black:        black;
$almost-black: #333;
$white:        white;

/* fonts */
$default-font: 'Karla', sans-serif;
$fancy-font: 'Pacifico', sans-serif;

/* universal */

* {
  box-sizing: border-box;
  font-family: $default-font;
  letter-spacing: 0.02em;
}

.btn {
  color: $light-grey;
}

.orange-gradient-btn {
  margin-bottom: 10px;
  background-image: -webkit-linear-gradient($light-orange, $dark-orange);
  border: none;
}

.red-border-btn {
  margin-top: 5%;
  border: 1px solid $red;
}

a.red-border-btn {
  color: $red;
}

.alert {
  text-align: center;
}

/* navbar */

nav {
  background-color: $white-opacity;
  &.navbar {
    padding: 0 25px;
    a {
      color: $light-grey;
      &.navbar-brand {
        font-family: $fancy-font;
        font-size: 2em;
        color: $dark-grey;
        &:hover {
          color: $dark-orange;
        }
      }
    }
  }
}

/* navbar logged in */

.container-fluid#logged-in-navbar {
  padding: 0 20%;
  border-bottom: 1px solid $light-orange;
  .navbar-brand {
    margin-top: 8px;
  }
  input[type=submit] {
    margin-top: 6px;
  }
  span {
    margin-top: 16px;
    transform: scale(1.5);
    &:hover {
      color: $dark-orange;
    }
  }
  .navbar-form.navbar-left {
    width: 60%;
    margin-left: 10%;
    text-align: center;
  }
  .form-group {
    width: 70%;
    textarea {
      width: 100%;
    }
  }
  textarea {
    resize: none;
    width: 20%;
  }
  li {
    &.dropdown {
      display: block;
      ul.dropdown-menu a:hover {
        color: $dark-orange;
      }
      & a {
        color: $dark-grey;
        &:hover {
          background-color: $white;
        }
      }
    }
    &.mobile-settings {
      display: none;
    }
  }
}

/* footer */

footer {
  margin: 1% 0;
}

/* forms */

.has-error {
  .form-control {
    border-color: $red;
  }
  .help-block {
    color: $red;
    font-family: $default-font;
  }
}

.container#welcome span.help-block {
  font-family: $default-font;
}

.form-control:focus {
  border-color: $light-orange; 
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $orange-opacity;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $orange-opacity;
}

/* edit task form */

.edit_task {
  textarea, textarea:focus {
    resize: none;
    border: 1px solid $light-grey;
    border-radius: 0;
    box-shadow: none;
  }
  span {
    background-color: $white;
    border-color: $light-grey;
  }
  input[type=submit] {
    margin: 0;
  }
}

/* welcome page */

.container#welcome {
  margin-top: 50px;
  width: 100%;
  padding-bottom: 100px;
  background-image: image-url('welcome-background.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  h2, span {
    font-family: $fancy-font;
  }
}

.container#about {
  height: 500px;
  h2 {
    font-family: $fancy-font;
  }
}

/* log in form */

.login-with-apps {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid $dark-grey;
  .oauth-icons {
    display: inline-block;
    width: 20%;
    padding-bottom: 20%;
    margin: 0 7px;
  }
  .twitter {
    background-color: $twitt-color;
  }
  .google {
    background-color: $google-color;
  }
  .github {
    background-color: $github-color;
  }
}

.login-with-email {
  clear: left;
  margin-bottom: 50px;
  .form-group label {
    font-size: 1.1em;
    font-weight: 400;
    margin-right: 2%;
  }
  a {
    font-size: 1.1em;
    color: $black;
  }
  input[type=checkbox] {
    transform: scale(1.25);
  }
  #login-btn {
    width: 66%;
  }
}

/* singup form */

#signupModal {
  .modal-content {
    .modal-header {
      text-align: center;
      color: $white;
      font-family: $fancy-font;
      background-image: -webkit-linear-gradient($light-orange, $dark-orange);
      button {
        color: $black;
      }
    }
    .modal-body {
      width: 70%;
      margin: auto;
    }
  }
}

.forms {
  margin-top: 5%;
  margin-bottom: 10%;
}

.nav > li > a {
  padding: 6px 15px;
}

/* main page */

.container#main-page {
  margin-top: 50px;
  padding: 40px 0;
  .users-todo, .users-done {
    h4 {
      margin-left: 5%;
    }
    h3.no-todo-tasks {
      margin: 0;
      padding: 5%;
      font-style: italic;
      color: $medium-grey;
      border: 1px solid $light-grey;
    }
    ul.tasks {
      list-style: none;
      cursor: default;
      li {
        box-shadow: 1px 1px 1px $light-grey;
        margin: 10px;
        padding: 10px;
        &:hover {
          border: none;
          box-shadow: 5px 5px 10px $black-opacity;
          .done, .timestamp, .options {
            display: inline-block;
          }
          .settings {
            display: inline-block;
          }
          .content {
            margin-left: 0;
          }
        }
      }
      .options a, .done a {
        color: $dark-grey;
        text-decoration: none;
      }
      span {
        padding: 8px;
        font-size: 0.75em;
        &:hover {
          color: $dark-orange;
          background-color: $white;
        }
      }
      .timestamp span {
        font-size: 0.95em;
        &:hover {
          color: $almost-black;
        }
      }
      .content {
        display: inline-block;
        width: 75%;
        padding: 1.5%;
        font-size: 1.2em;
      }
      .settings {
        width: 20%;
        display: none;
        float: right;
        .options, .timestamp {
          float: right;
        }
      }
      .done {
        float: left;
        display: none;
      }
    }
  }
  .users-done {
    margin-top: 5%;
    h4 {
      color: $medium-grey;
    }
    ul.tasks {
      li {
        color: $medium-grey;
        font-style: italic;
        &:hover {
          box-shadow: 0px 0px 5px $dark-orange;
        }
        .done, .timestamp, .options {
          display: block;
        }
        .settings {
          display: inline-block;
          .timestamp span:hover {
            color: $medium-grey;
          }
        }
        .options a {
          color: $medium-grey;
        }
      }
    }
  }
}

/* media */

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .navbar-form.navbar-left {
    padding: 0;
    margin-left: 5%;
  }
  .users-todo {
    h4 {
      margin-left: 5%;
    }
    ul.tasks li{
      padding-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

  /* navbar - non logged in */

  .mobile-nav {
    text-align: center;
    .btn {
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }
  }
  .navbar-brand {
    float: none;
  }
  .navbar-header {
    margin-top: 15px;
  }

  /* navbar - logged in */
  
  .container-fluid#logged-in-navbar {
    padding: 0;
    div {
      float: left;
    }
    span {
      margin-top: 0;
    }
    ul {
      float: right;
      li {
        &.dropdown {
          display: none;
        }
        &.mobile-settings {
          display: block;
          a {
            color: $dark-grey;
            font-size: 0.6em;
            &:hover {
              background-color: $white;
            }
          }
        }
      }
    }
  }

  /* main page - non logged in */

  .container#welcome {
    margin-top: 115px;
    background-image: image-url('welcome-background-mobile.jpg');
  }

  /* main page - logged in */

  .container#main-page {
    margin-top: 75px;
    .users-todo, .users-done {
      ul.tasks {
        padding: 0;
        .content {
          max-width: 60%;
        }
        .settings {
          width: 25%;
          .options span {
            padding: 4px;
          }
          .timestamp {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px), only screen and (min-device-width: 1600px) {
  .login-with-email {
    margin-bottom: 35%;
  }
  .welcome {
    margin-top: 5%;
  }
}
