@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Karla|Pacifico');


/* colors */

$light-orange: #FF8200;
$dark-orange:  #FF4F00;
$red:          #FF1100;
$light-grey:   #EEE;
$medium-grey:  #AAA;
$dark-grey:    #4D4D4D;
$twitter-color:#55ACEE;
$google-color: #DD4B39;
$github-color: #545454;

$black-opacity:  rgba(0,0,0,0.3);
$white-opacity:  rgba(255, 255, 255, 0.8);
$orange-opacity: rgba(255, 130, 0, 0.6);

$black:        black;
$almost-black: #333;
$white:        white;

/* fonts */

$default-font: 'Karla', sans-serif;
$fancy-font: 'Pacifico', sans-serif;

/* universal */

* {
  box-sizing: border-box;
  font-family: $default-font;
  letter-spacing: 0.02em;
}

.fancy-font {
  font-family: $fancy-font;
}

.alert {
  text-align: center;
}

footer {
  margin: 1% 0;
}

.full-width {
  margin-top: 50px;
  width: 100%;
  padding-bottom: 100px;
  background-image: image-url('welcome-background.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  #activation-btn {
    display: none;
  }
}

/* buttons */

.btn {
  color: $white;
  &:hover, &:focus {
    color: $white;
    font-weight: bold;
  }
}

.orange-gradient-btn {
  margin-bottom: 10px;
  background-image: -webkit-linear-gradient($light-orange, $dark-orange);
  border: none;
  &:hover {
    background-image: -webkit-linear-gradient($dark-orange, $light-orange);
  }
}

.red-border-btn {
  margin-top: 5%;
  border: 1px solid $red;
  color: $red;
  &:hover {
    background-color: $red;
  }
}

/* forms */

.form-group {
  .form-control:focus {
    border-color: $light-orange; 
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $orange-opacity;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $orange-opacity;
  }
  &.has-error {
    .form-control {
      border-color: $red;
    }
    .help-block {
      color: $red;
      font-family: $default-font;
    }
  }
}

/* navbar */

nav {
  box-shadow: 1px 1px 10px $medium-grey;
  &.navbar {
    padding: 0 25px;
    text-align: center;
    li {
      display: inline-block;
    }
    a {
      font-size: 1.2em;
      color: $dark-grey;
      &:hover {
        background-color: inherit;
        color: $light-orange;
      }
      &.navbar-brand {
        font-family: $fancy-font;
        font-size: 2em;
        color: $dark-grey;
        &:hover {
          color: $light-orange;
        }
      }
    }
    a.navbar-btn {
      color: $white;
      padding: 6px 15px;
      font-size: 1em;
      &:hover {
        color: $white;
      }
    }
  }
}

/* login-form */

.form-white-box.increase-margin {
  margin: 159px auto;
}

.form-white-box {
  width: 350px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 2px 2px 5px $black-opacity;
  background-color: $white-opacity;
  .form-inside {
    clear: left;
    margin: 20px 30px;
    padding: 20px;
    h4 {
      padding-bottom: 10px;
    }
  }
  .inside-lines {
    h4 {
        overflow: hidden;
        text-align: center;
    }
    h4:before,
    h4:after {
        background-color: $almost-black;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    h4:before {
        right: 0.5em;
        margin-left: -50%;
    }
    h4:after {
        left: 0.5em;
        margin-right: -50%;
    }
  }
  .login-with-apps {
    margin: auto;
    text-align: center;
    padding-top: 15px;
    width: 80%;
    .oauth-icons {
      display: inline-block;
      position: relative;
      width: 60px;
      padding-bottom: 60px;
      border-radius: 5%;
      &:hover .overlay {
        bottom: 0;
        height: 100%;
      }
      .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: inherit;
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .2s ease;
        border-radius: 5%;
      }
      .text {
        white-space: nowrap; 
        font-size: 1em;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        a {
          text-decoration: none;
          color: $white;
          font-weight: bold;
        }
      }
      .fa {
        color: $white;
        font-size: 2em;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }

    }
    .twitter {
      background-color: $twitter-color;
    }
    .google {
      background-color: $google-color;
      margin: 0 45px;
    }
    .github {
      background-color: $github-color;
    }
  }
  .login-with-email {
    clear: left;
    margin: 20px 30px;
    padding-bottom: 20px;
    .form-group label {
      font-size: 1.1em;
      font-weight: 400;
      margin-right: 2%;
    }
    a {
      font-size: 1.1em;
      color: $black;
    }
    input[type=checkbox] {
      transform: scale(1.25);
    }
    #login-btn {
      width: 66%;
    }
  }
}

/* singup form */

#signupModal {
  .modal-dialog {
    width: 350px;
    margin: auto;
    margin-top: 140px;
    .modal-content {
      .modal-header {
        text-align: center;
        color: $white;
        font-family: $fancy-font;
        background-image: -webkit-linear-gradient($light-orange, $dark-orange);
      }
      .modal-body {
        width: 80%;
        margin: 30px auto;
      }
    }
  }
}

/* new task form */

#new_task {
  margin: 20px 0;
  textarea {
    resize: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $light-orange;
    border-radius: 0;
    line-height: 15px;
    font-size: 1.2em;
  }
  .form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid $light-orange;
  }
  .task_content {
    width: 75%;
    display: inline-block;
    z-index: 999;
    position: relative;
  }
  input[type=submit] {
    position: relative;
    right: 6px;
    bottom: 23px;
  }
}

/* edit task form */

.edit_task {
  textarea {
    resize: none;
    border: none;
    box-shadow: none;
    border: 1px solid $light-orange;
    border-radius: 0;
    line-height: 15px;
    font-size: 1.2em;
  }
  .form-control:focus {
    box-shadow: none;
  }
  span {
    background-color: $white;
    border: none;
  }
  input[type=submit] {
    margin: 0;
    position: relative;
    bottom: 6px;
    right: 15px;
    padding: 12px;
  }
}


/* main page */

.user-feed {
  padding: 0 15%;
}

.main-page {
  .profile-edit {
    width: 300px;
    margin: auto;
  }
  .user-info {
    width: 380px;
    margin: auto;
    text-align: center;
    padding: 5%;
    font-style: italic;
    color: $medium-grey;
    border: 1px solid $light-grey;
    img {
      height: 100px;
      width: 100px;
    }
  }
  .users-todo, .users-done {
    text-align: left;
    a {
      color: $medium-grey;
      text-decoration: none;
    }
    .no-todo-tasks {
      margin: 0;
      padding: 5%;
      font-style: italic;
      color: $medium-grey;
    }
    ul.tasks {
      list-style: none;
      padding: 0;
      cursor: default;
      li {
        margin-bottom: 10px;
        &:hover {
          border: none;
          box-shadow: 0px 0px 10px $light-orange;
          a {
            color: $light-orange;
            &:hover {
              color: $dark-orange;
              text-decoration: none;
            }
          }
        }
        .task {
          width: 100%;
        }
        .done, .content, .settings {
          display: inline-block;
          vertical-align: middle; 
        }
        .done, .settings {
          text-align: center; 
        }
        .done { 
          width: 5%; 
        }
        .content { 
          width: 80%; 
          padding: 15px 0;
         }
        .settings {
          width: 10%;
          span {
            margin: 0 5%;
          }
        }
        .timestamp {
          text-align: right;
          font-style: italic;
          font-size: 0.9em;
          color: $medium-grey;
          border-top: 1px solid $light-grey;
          padding-right: 7%;
        }
      }
    }
  }
  .users-done {
    margin: 5% 0;
    h4 {
      color: $medium-grey;
    }
    ul.tasks {
      li {
        &:hover {
          box-shadow: 0px 0px 10px $medium-grey;
          a {
            color: $medium-grey;
            &:hover {
              color: $dark-grey;
            }
          }
        }
      }
      .content { 
        margin-left: 5%;
        color: $medium-grey;
        }
      .timestamp {
        display: none;
      }
    }
  }
}

/* media */

@media only screen and (max-width: 767px) {

  #signupModal {
    .modal-dialog {
      margin-top: 200px;
    }
  }

  nav.mobile {
    text-align: center;
    ul.navbar-nav {
      margin-bottom: 0;
    }
    .navbar-brand {
      float: none;
    }
    .navbar-header {
      margin-top: 15px;
    }
  }

  .full-width {
    margin-top: 100px;
    background-image: image-url('welcome-background-mobile.jpg');
  }

  .user-feed {
    padding: 0 2%;
  }
}
